<footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
  <div class="overlay"></div>
  <div class="footer-container">
    <div class="row">
      <div class="col-md-4 fh5co-widget">
        <h3>Syncabuddy</h3>
        <h1>Play a match anywhere you want.</h1>
        <p>Don't see anything you fancy?</p>
        <%= link_to 'Why not host a match', new_match_path, class: "btn-primary" %>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-md-12 text-end">
        <p>
          <small class="block">&copy; 2020 | All Rights Reserved.</small>
          <small class="block">Powered by Syncabuddy</small>
        </p>
      </div>
    </div>
  </div>
</footer>