<div class="index-container">
  <h1>All the Matches</h1>
  <div class="card-matches">
    <% @matches.each do |match| %>
      <div class="card-match-wrap">
        <%= link_to match_path(match), class: "card-match" do %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-match-infos">
            <div>
              <h2>Sport: <%= match.sport %></h2>
            </div>
            <div>
              <p>Hosted by: <%= match.user.nickname %></p>
            </div>
            <div>
              <p>Location: <%= match.location %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>