<h1>Show</h1>
<p>should be able to see on match regardless of authorization / authentication</p>
<p>Sport: <%= @match.sport %></p>
<p>location: <%= @match.location %></p>
<%= link_to "Go home", matches_path  %>