$black: #252525;
$rose: #BA7E7E;
$white: #EDECEC;
$orange: #F95738;


.show-card-background {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
  background: $black;
  box-shadow: 5px 5px 15px rgba($orange, .5);
  border-radius: 10px;
}

.show-card-background p {
  font-size: 16px;
  color: $orange;
  letter-spacing: 1px;
}

.show-card-background h1 {
  font-size: 36px;
  color: $white;
  margin-top: -5px;
}

.show-card-background h2 {
  color: $orange;
  margin-top: -5px;
}

.show-card-background img {
  width: 40%;
  margin-top: 47px;
}

.show-card-background-owner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 480px;
  background: $black;
  box-shadow: 5px 5px 15px rgba($orange, .5);
  border-radius: 10px;
}

.show-card-background-owner-done {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 480px;
  background: $black;
  box-shadow: 5px 5px 15px rgba($green, .5);
  border-radius: 10px;
}

.show-card-background-owner p {
  font-size: 16px;
  color: $orange;
  letter-spacing: 1px;
}

.show-card-background-owner h1 {
  font-size: 36px;
  color: $white;
  margin-top: -5px;
}

.show-card-background-owner h2 {
  color: $orange;
  margin-top: -5px;
}

.product {
  position: absolute;
  width: 52%;
  height: 100%;
  top: 10%;
  left: 48%;
}

.product-owner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  text-align: center;
}
.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: $white;
  font-size: 16px;
  line-height: 1.6em;
  text-align: left;
}

.join-button {
  background: darken($white, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $dark;
  cursor: pointer;
  &:hover {
    background: $orange;
    transition: all .4s ease-in-out;
  }
}

.add {
  width: 67%;
}

.focus{
  background: $rose;
  color: $white;
}
