.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  background: rgba($background-color, .7);
  border-radius: 1rem;
}

.card-match-infos h2 {
  font-size: 24px;
  margin: 0;
  opacity: 0.8;
  line-height: 1.6;
  color: $orange;
}

.card-match-infos p {
  font-size: 16px;
  font-family: $body-font;
  color: $white;
  opacity: 0.8;
}
