.index-container h1 {
  color: $white;
}
.index-container h2 {
  color: $white;
}

.index-container {
  padding: 24px;
  margin: 2px;
  overflow: hidden;
  width: 95%;
  margin: 12px auto;
  box-shadow: 5px 5px 15px rgba($orange, .5);
  border-radius: 10px;
}

.card-matches {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card-match {
  display: flex;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
  $border: 3px;
  color: $orange;
  background: $background-color;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 1em;
  height: 300px;
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, $red, purple);
  }
  float:left;
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2ss ease-out;
}

.card-match:hover {
  color: $orange;
  opacity: 1;
  text-decoration: none;
  cursor:pointer;
  margin-top: 10px;
}

.card-background-black {
  background-color: $background-color;
  height: 80%;
  width: 100%;
  object-fit: cover;
  padding: 12px;
  border-radius: inherit;
}

.card-background-black img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: inherit;
}

.card-match h2 {
  font-size: 24px;
  margin: 0;
  opacity: 0.8;
  line-height: 1.6;
}

.card-match p {
  font-size: 16px;
  font-family: $body-font;
  color: $white;
  opacity: 0.8;
  line-height: 100%;
}

.card-match .card-match-infos {
  padding: 12px;
  background: rgba(0,0,0,0.0);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-matches {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-matches {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-matches {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-matches {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-matches {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
