.navbar-syncabuddy {
  justify-content: space-between;
  background: #252525;
  color: $white;
  align-items: center;
}

.navbar-brand {
  color: $white;
  font-family: 'Anton', sans-serif;
}

.navbar-syncabuddy .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  font-family: 'Anton', sans-serif;
  color: $white;
}

.nav-browse {
  letter-spacing: 2px;
}

.dropdown-menu {
  background-color: $background-color;
  // background: linear-gradient(to right, $red, purple);
  border: 1px $white solid
}

.dropdown-item {
  color: $white;
  font-family: $body-font;

  &:hover {
    background-color: $white;
    color: $orange;
  }
}


.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
