.navbar-syncabuddy {
  color: $white;
  justify-content: space-between;
  letter-spacing: 3px;
  opacity: 0.7;
}

.navbar-syncabuddy .navbar-collapse {
  flex-grow: 0;
}

.dropdown-divider {
  color: $background-color;
}


.avatar .dropdown-toggle {
  background-color: $background-color;
  // background: linear-gradient(to right, $red, purple);
  border: 1px $white solid
}

.dropdown-item {
  color: $background-color;
  font-family: $body-font;

  &:hover {
    background-color: lightgrey;
    color: $orange;
  }
}
