.navbar-syncabuddy {
  justify-content: space-between;
  background: #252525;
}

.navbar-brand{
  color: #F4F4F4;
  font-family: 'Anton', sans-serif;
}

.navbar-syncabuddy .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: #F4F4F4;
  font-family: 'Anton', sans-serif;
}

.fa-user-circle {
  color: #F4F4F4;
}
